section {
    margin-top: 70px;
}

div > .list-group {
    margin-top: 60px;
}

#welcome {
    height: 100vh;
    margin: 0;
}

#welcome-text {
    font-size: 60px;
}

#employee-card {
    width: 60%
}
