{% extends 'index.html' %}

{% block content %}
    <script src="../static/scripts/script_department__.js"></script>
    <main>
        <section class="container column col-11">
            <div class="border rounded mb-3 d-flex flex-column">
                <div class="row m-1 justify-content-between">
                    <h2 id="dep-header" class="m-1"></h2>
                    <div>
                        <button id="edit_dep_btn" type="button" class="btn btn-dark m-1 mr-2" data-toggle="modal"
                                data-target="#editDepForm">
                            Edit Department
                        </button>
                        <button type="button" class="btn btn-dark m-1 mr-2" data-toggle="modal"
                                data-target="#addEmployeeForm">
                            Add Employee
                        </button>
                    </div>
                </div>
                <h4 id="dep-description" class="m-1 ml-2 justify-content-start">Department description</h4>
            </div>
            <div>
                <div class="form-group d-flex flex-row align-items-center">
                    <label for="from-date" class="col">Date from</label>
                    <input autocomplete="off" type="date" class="form-control col-4" id="from-date"
                           placeholder="examp. 2000-12-24" name="from-date" onchange="date_filter()">
                    <label for="to-date" class="col">Date to</label>
                    <input autocomplete="off" type="date" class="form-control col-4" id="to-date"
                           placeholder="examp. 2000-12-24" name="to-date" onchange="date_filter()">
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name Surname</th>
                        <th scope="col">Role</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Communication</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="table-data">
                    {#                elems here#}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="modal fade" id="addEmployeeForm" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add new Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="add_employee" name="add_employee" onsubmit="return false">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input autocomplete="off" type="text" class="form-control" id="name" name="name"
                                       placeholder="examp. Adrian" required>
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input autocomplete="off" type="text" class="form-control" id="surname" name="surname"
                                       placeholder="examp. Vorobel" required>
                            </div>
                            <div class="form-group">
                                <label for="bio">Description (not required)</label>
                                <textarea class="form-control" id="bio" name="bio"
                                          placeholder="examp. Very nice person."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <input autocomplete="off" type="text" class="form-control" id="role" name="role"
                                       placeholder="examp. Developer" required>
                            </div>
                            <div class="form-group">
                                <label for="salary">Salary</label>
                                <div id="salary" class="d-flex flex-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input autocomplete="off" type="number" class="form-control" name="salary"
                                           aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input autocomplete="off" type="email" class="form-control" id="email" name="email"
                                       placeholder="examp. abc@exammple.com" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input autocomplete="off" type="text" class="form-control" id="phone" name="phone"
                                       placeholder="examp. +1234567890" required>
                            </div>
                            <div class="form-group">
                                <label for="birthdate">Date of birth</label>
                                <input autocomplete="off" type="date" class="form-control" id="birthdate"
                                       name="birthdate"
                                       placeholder="examp. 2000-12-24" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input autocomplete="off" type="text" class="form-control" id="address" name="address"
                                       placeholder="examp. Some-Street, 00">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="add_employee_cancel_btn" type="button" class="btn btn-outlined-danger m-1 mr-2"
                                    data-dismiss="modal">
                                Cancel
                            </button>
                            <button id="add_employee_btn" type="submit" class="btn btn-dark m-1 mr-2">
                                Add Employee
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="removeEmployeeBtn" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approvingDeletion">Removing Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to remove this Employee?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
                        <button id="remove" type="button" class="btn btn-primary tooltip-test" value="">Yes, remove it
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editDepForm" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add new Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="edit_depart" onsubmit="return false" name="add_depart">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Department Name</label>
                                <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput"
                                       name="name"
                                       placeholder="examp. Development" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Description (not required)</label>
                                <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput2"
                                       placeholder="examp. Used to develop our products." name="description">
                            </div>
                            <div class="row justify-content-end align-items-center mr-1">
                                <button type="button"
                                        class="btn btn-outline-danger m-1 mr-2" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-dark m-1" id="edit_depart_btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="moveEmployee" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approvingDeletion">Choose Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group d-flex flex-column ">
                            <label for="dep-list">Choose Department</label>
                            <select id="dep-list" class="form-control" name="dep-list" style="width: 100%">
                                <option value="-1">Default select</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="move" type="button" class="btn btn-primary tooltip-test" value="">Move
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}