{% extends 'index.html' %}

{% block content %}
    <script src="../static/scripts/script_departments_.js"></script>
    <main>
        <section class="container">
            <div class="border rounded d-flex flex-row justify-content-between align-items-center mb-1">
                <h4 class="m-1 ml-2">Departments List</h4>
                <button type="button" class="btn btn-dark m-1 mr-2" data-toggle="modal" data-target="#addDepartForm">Add
                </button>
            </div>
            <div id="depart-list" class="list-group">
                {#            elements here#}
            </div>
            <div class="modal fade" id="addDepartForm" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add new Department</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="add_depart" onsubmit="return false" name="add_depart">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Department Name</label>
                                    <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput" name="name"
                                           placeholder="examp. Development" required>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Description (not required)</label>
                                    <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput2"
                                           placeholder="examp. Used to develop our products." name="description">
                                </div>
                                <div class="row justify-content-end align-items-center mr-1">
                                    <button id="add_depart_cancel_btn" type="button"
                                            class="btn btn-outline-danger m-1 mr-2" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-dark m-1" id="add_depart_btn">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="removeDepartBtn" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="approvingDeletion">Removing Department</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure that you want to remove this Department?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
                            <button id="remove" value="" type="submit" class="btn btn-primary">Yes, remove it</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}