{% extends 'index.html' %}

{% block content %}
    <script src="../static/scripts/script_employee__.js"></script>
    <main>
        <section class="container d-flex justify-content-center align-items-center">
            <div id="employee-card" class="card mb-2 col-md-10 col-sm-12">
                <div class="d-flex justify-content-start">
                    <a href="" class="btn btn-outline-dark m-1" onclick="window.history.go(-1); return false;">Back</a>
                </div>
                <img class="card-img-top" src="../static/imgs/employee.png" alt="Card image cap">
                <div id="employee-info" class="card-body">
                    {#                info#}
                </div>
                <div class="card-body d-flex justify-content-end">
                    <button id="edit-btn" class="btn btn-dark mr-2" data-toggle="modal" data-target="#editEmployeeForm">
                        Edit information
                    </button>
                </div>
            </div>
        </section>
        <div class="modal fade" id="editEmployeeForm" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Employee's information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="update_employee" name="update_employee" onsubmit="return false">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Name</label>
                                <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput"
                                       placeholder="examp. Adrian" name="name" required value="">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput1">Surname</label>
                                <input type="text" class="form-control" id="formGroupExampleInput1"
                                       placeholder="examp. Vorobel" name="surname" required value="">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Description (not required)</label>
                                <textarea class="form-control" id="formGroupExampleInput2"
                                          placeholder="examp. Very nice person." name="bio"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput4">Role</label>
                                <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput4"
                                       placeholder="examp. Developer" name="role" required value="">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput5">Salary</label>
                                <div id="formGroupExampleInput5" class="d-flex flex-row">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input autocomplete="off" id="salary" type="number" class="form-control"
                                           aria-label="Amount (to the nearest dollar)"
                                           value="" name="salary">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput6">E-mail</label>
                                <input autocomplete="off" type="email" class="form-control" id="formGroupExampleInput6"
                                       placeholder="examp. abc@exammple.com" name="email" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput7">Phone</label>
                                <input autocomplete="off" type="text" class="form-control" id="formGroupExampleInput7"
                                       placeholder="examp. +1234567890" name="phone" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput8">Date of birth</label>
                                <input autocomplete="off" type="date" class="form-control" id="formGroupExampleInput8"
                                       placeholder="examp. 2000-12-24" name="birthdate" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput9">Address</label>
                                <input autocomplete="off" type="text" class="form-control" name="address" id="formGroupExampleInput9"
                                       placeholder="examp. Some-Street, 00" value="$">
                            </div>
                            <div class="row justify-content-end align-items-center mr-1">
                                <button type="button" class="btn btn-outline-danger m-1 mr-2" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button id="edit-employee-btn" type="submit" class="btn btn-dark m-1"
                                        data-dismiss="modal">Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="moveEmployee" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approvingDeletion">Choose Department</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group d-flex flex-column ">
                            <label for="dep-list">Choose Department</label>
                            <select id="dep-list" class="form-control" name="dep-list" style="width: 100%">
                                <option value="-1">Default select</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="move" type="button" class="btn btn-primary tooltip-test" value="">Move
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}