{% extends 'index.html' %}

{% block content %}
    <script src="../static/scripts/script_employees_.js"></script>

    <main>
        <section class="container">
            <input id="search" class="form-control mr-1" type="search" placeholder="Search" aria-label="Search"
                   onkeyup="search()" autocomplete="off">
            <div id="emp-list" class="list-group mb-2">
                {#                elems here#}
            </div>
        </section>

        <div class="modal fade" id="removeEmployeeBtn" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approvingDeletion">Removing Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure that you want to remove this Employee?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">No, cancel</button>
                        <button id="remove" type="button" class="btn btn-dark tooltip-test" value="">Yes, remove it
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}