{% extends 'index.html' %}

{% block content %}
    <main class="container">
        <section id="welcome" class="d-flex justify-content-center align-items-center">
            <h1 id="welcome-text">Welcome back!</h1>
        </section>
    </main>
{% endblock %}